*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1{
    font-size: 26px;
    font-weight: 900;
    line-height: 2.23;
    padding-top: 25px;
    padding-bottom: 14px;
}

.b-orange{
    background-color: #f8765e;
    color: white;
}

a{
    text-decoration: none;
    color: inherit;
    margin: 0 7vw 0 7vw;
 
}

#img1{
    margin-top: 35px;
    margin-bottom: 60px;
}

h2{
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.33;
    color: #ffffff;
    margin-bottom: 15px;
}

p{
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
}

.form{
    margin-top: 30px;
    padding-bottom: 140px;
}

.field{
    width: 335px;
    height: 60px;
    border-radius: 20px;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

::placeholder{
    padding-left: 25px;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.18;
    color: #cdcdcd;
}

button{
    width: 168px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.14);
    background-color: #9bdbe7;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.25;
    color: #ffffff;
}

/* espacio entre el button y el field de email solo arriba */
.button-space{
    margin-top: 20px
}

.b-white{
    margin: -64px 10vw 100px 10vw;
    border-radius: 20px;
    box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
    background-color: white;
    padding-bottom: 60px;
}

.img2{
    margin-top: 60px;
    width: 208px;
    height: 140px;
    object-fit: contain;
  }

.title1{
    width: 60px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.39;
    color: #031d5b;
    text-align: left;
    margin: 60px 5vw 20px 5vw;
    border-bottom: 5px solid #f8765e;
    padding-bottom: 15px;
}

.benefits-copy{
    margin: 0 5vw 0 5vw;
    text-align: left;
    color: #5b6c94
}

/* how can I make it smaller but responsive? And how to add the circle?*/
/* .img3{
    width: 180px;
    height: 360px;
    object-fit: contain;
  } */

  h3{
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 1.33;
    color: #f8765e;
  }

  h4{
    font-size: 26px;
    font-weight: 500;
    line-height: 1.73;
    color: #031d5b;
    margin-bottom: 30px;
  }

  .premium-copy{
    text-align: center;
  }

  .button-premium{
    margin-top: 30px;
  }

  .testimonials{
    margin: 100px 0 100px 0;
}
.orange-rect{
    width: 300px;
    height: 660px;
    border-radius: 20px;
    background-color: #f8765e;
}∫

  /* how to position it on the left? */
.img4{
    border: 1px solid black;
}
/* I tried to put the sign as backgroun image but i couldn't */
  h5{
    background-image: url(./images/img_6-quotation_mark/quote.png);
    background-repeat: no-repeat;
    width: 151px;
    height: 165px;
    font-size: 16px;
    line-height: 1.25;
    color: #f8765e;
    text-align: left;
  }

  .launch{
    font-size: 26px;
    line-height: 1.73;
    color: #cdcdcd;
  }
  .form2{
    margin-top: 40px; 
  }

  footer{
    margin-top: 100px;
    padding: 40px 0 40px 0;
  }

  .rights{
    padding-bottom: 20px;
  }